.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
a {
	color: var(--mdc-theme-text-primary-on-background);
}

@media only screen and (max-width: 640px) {
}

.displaynone {
	display: none;
}
