
html,
body,
main {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--mdc-theme-background);
    color: var(--mdc-theme-primary);
    /* box-sizing: border-box; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header {
    background: var(--mdc-theme-secondary);
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    vertical-align: middle;
}
main {
    background: var(--mdc-theme-background);
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-container {
    padding: 1px;
    overflow-y: auto;
}

@media only screen and (max-width: 640px) {
    header {
        padding: 0.5rem;
    }
    main {
        width: 100%;
    }
}